/* Медиа запрос: для экранов с шириной до 1100px*/
@media (max-width: 1140px) {
  .card {
    width: calc( 50% - 15px);
  }
  .footer{
  padding-top: 40px;
  padding-bottom: 60px;
  }
 
}


/* Медиа запрос: для экранов с шириной до 750 px*/
@media (max-width: 750px) {
  
  .busines-card{
    position: relative;
    margin-top: 5%;
   margin-bottom: 6%;
    text-align: center;  
    display: block;
  }
  

.services-cards-wrapper {
  justify-content: center; 
} 
.services-header {
  margin-left: 30px;
}

.card{
  width: 421px;
}
.footer-row{
  flex-direction: column-reverse;
  align-items: center;
  text-align: center;
}
.footer-col{
  margin-bottom: 30px;
}
.footer-col:first-child{
  margin-bottom: 0px;
}
}
/* Медиа запрос: для экранов с шириной до 750 px*/
@media (max-width: 570px) {
.cards-works {
  justify-content: center;
}
.services-header{
  text-align: center;
}

.card-w{
  justify-content:center;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
    
}
}